body {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: medium;
	line-height: 100%;
	word-spacing: normal;
}
table {
/*border: 1px solid black;
/*margin: auto;*/
margin-bottom: 10px;
}

input {
border: 1px solid black;
}

#message {
	font-variant: normal;
	font-weight: normal;
	font-size: normal;
	line-height: 120%;
margin: auto;
border: 1px solid red;
padding: 10px;
			text-align: center;
}
#itemtable {
border: 1px solid black;
padding: 5px;
}

#restable td {
border: 1px dashed black;
padding: 10px;
}
#restable {
	border-collapse: collapse;
}
